body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffffff;
}

header {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 15px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.top-section {
    background-color: #faf7e2; 
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

/* flexbox */
.main-grid-container {
    display: flex; 
    flex-wrap: wrap;
    gap: 15px; 
    background-color: #d14f4f; 
    padding: 15px;
    border: 1px solid #b33e3e;
}

.sidebar {
    flex-basis: 15%; 
    background-color: #d14f4f;
}

.sidebar a {
    display: block; 
    color: white;
    text-decoration: none;
    padding: 5px 0;
}

.content-box {
    flex-basis: 35%; 
    background-color: #4b925b; 
    color: white;
    padding: 10px;
    border: 1px solid #3a7a4a;
}

.gallery-item {
    flex-basis: 15%; 
    background-color: #4b925b; 
    color: white;
    padding: 10px;
    border: 1px solid #3a7a4a;
}


/* media query*/
@media (max-width: 768px) {
    .sidebar,
    .content-box,
    .gallery-item {
        flex-basis: 100%;
    }
}