* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #d14f4f;
    padding: 5px;
}

nav a {
    color: white;
    padding: 10px;
}

main {
    padding: 15px;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
}

img {
    width: 100%;
    display: block;
}

/* flexbox */
.layout-part-1, .layout-part-2 {
    display: flex;
    margin-bottom: 15px;
}

/* columns */
.main-idea {
    width: 33%;
    background-color: #faf7e2;
    padding: 10px;
    margin-right: 15px;
}

.side-ideas {
    width: 67%;
    background-color: #4b925b;
    padding: 10px;
}

.gallery-grid {
    width: 67%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-item {
    background-color: #4b925b;
    padding: 10px;
    width: 31%;
}

/* media query */
@media (max-width: 768px) {
    .layout-part-1, .layout-part-2 {
        flex-direction: column; 
    }
    .main-idea, .side-ideas, .gallery-grid {
        width: 100%;
        margin-right: 0;
    }

    .gallery-item {
        width: 100%; 
    }
}