body {
    background-color: #222222;
    font-family: Verdana, sans-serif;
    color: #eeeeee;
}

#page-content {
    background-color: #333333;
    border: 1px solid #777777;
    padding: 15px;
}

nav {
    background-color: #444444;
    padding: 8px;
    text-align: center;
}

nav a {
    color: #ffffff;
    padding: 8px;
    text-decoration: none;
}

nav a:hover {
    background-color: #d20a0a;
}

.topic-image {
    border: 1px solid #777777;
    padding: 4px;
    width: 45%;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.info-table th, .info-table td {
    padding: 8px;
    border: 1px solid #777777;
    text-align: left;
}

.info-table th {
    background-color: #d20a0a;
    color: #ffffff;
}