body {
    background-color: #f0f0f0;
    font-family: Arial;
    color: #333333;
}

#container {
    width: 90%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #999999;
}

a {
    color: #0000FF;
    text-decoration: none;
}